*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

header{
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

ul a{
    color: black;
    font-family: 'Gayathri', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

section{
    height: 100vh;
    padding-top: 60px;
}




#home{
    display: flex;
}
.information{
    width: 70%;
    background-color: black;
}

.photo{
    width: 40%;
    background-image: url(IMG_2105.JPG);
    background-size: 100% 100%;
}

.block-text{
    margin-top: 200px;
    margin-left: 100px;
}
.text-info{
    color: white;
    font-family: 'Gayathri', sans-serif;
    font-size: 30px;

}

.name-info{
    color: white;
    font-family: 'Gayathri', sans-serif;
    font-size: 45px;
}




.button-up{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-down{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    /* background-color: brown; */
}
.button-up a {
    width: 0;
    height: 0;
    border: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
}

.button-down a{
    width: 0;
    height: 0;

    border: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
}
.title-section-group{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}


.number-section{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-section span{
    color: white;
    font-size: 25px;
    font-family: 'Gayathri', sans-serif;
    height: 25px;

}

.title-section{
    color: black;
    font-size: 25px;
    font-family: 'Gayathri', sans-serif;
    height: 20px;
    margin-left: 15px;
}

.wrap-sections-cv{
    width: 100%;
    display: flex;
}

.wrap-sections-cv-first{
    width: 50%;
}

.wrap-sections-cv-second{
    width: 50%;
}




.wrap-personalData{
    font-family: 'Gayathri', sans-serif;

    margin-left: 40px;
    margin-top: 20px;
}

.wrap-personalData span{
    line-height: 33px;
    font-size: 19px;
}

.title-personalData{
    font-size: 18px;
    font-weight: 600;
}

.bold-title{
    font-weight: 600;
}


.wrap-projects{
    /* background-color: blueviolet; */
    /* height: inherit; */
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top: 20px;
    height: 70vh;
}

.project{
    width: 250px;
    height: 300px;
    /* background-color: cyan; */
    margin: 20px;
}

.screen{
    border-radius: 5px;
    background-color: darkgrey;
    height: 250px;
    /* background-image: url(FireShot\ Capture\ 093\ -\ Document\ -\ .png); */
    background-position: center;




}

.screen:hover{
    transform: scale(1.02);
}

.project:hover{
    cursor: pointer;
}

.screen + p{
    margin-top: 7px;
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;

}